$text-color: #4A4A4A;
$primary:#2D80B5;
$secondary: #0CBFC2;
$white: #fff;
$nav-color:#F1F5FA;
$black:black;
$dark:#777777;
$dark2:#81837f;
$md-primary:#4fb8b6;
$md-secondary:#2D80B5;
$cg-primary: #b0779a;
$cg-tertiary: #fbebed;
$cg-secondary:#2D80B5;